<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col-12 w-100 mx-auto my-4" id="">
    <div class="alert alert-dark my-2 p-5 text-break w-100 mx-auto" role="alert">
      <strong>Test Results:</strong><br />
      <%= msg %>
    </div>
  </div>
</div>