<!doctype html>
<html lang="en">
 
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- forgot password  -->
    <%- include('../partials/headerLogin'); %>

    <div class="splash-container">
        <div class="card rounded-3 shadow-lg">
            <div class="card-header text-center"><img class="logo-img m-2" src="../../../src/images/logo01-negro.png" width="188" height="36" alt="logo"><span class="splash-description">Por favor ingresa tu informacion.</span></div>
            <div class="card-body">
                <form>
                    <p class="splash-title">No te preocupe. Te enviaremos un em@il para resetear su contraseña.</p>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="email" name="email" required="" placeholder="Tu em@il" autocomplete="off">
                    </div>
                    <div class="form-group pt-1"><a class="btn d-block btn-primary btn-xl" href="#">Reset Password</a></div>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="card-footer-item">
                    <span>Volver al <a href="/api/auth/login" style="text-decoration: none;">Login</a></span>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <!-- Optional JavaScript -->
    
</body>

</html>