<!-- contenedor de Proyecto vacío -->
<div class="container my-3">
    <span class="badge rounded-pill bg-danger text-white">No hay datos cargados para mostrar</span>
</div>
    Puedes agregar proyectos en el cliente <strong><%= cliente.name %>,<br>haciendo click en el siguiente botón
        <button class="btn btn-success m-1 rounded-circle"
            id="btnAddOtFormSelected<%=k%>"
            aria-controls="collapseExample"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false"
            style="--bs-btn-font-size: .95rem; color: var(--bs-white);"
            type="button"
            name="<%= proyecto[m].project[j].oci[k].ociNumber %>"
            title="Agregar Proyectos a cliente <%= cliente.name %>">
            <i class="fa-solid fa-plus-circle" aria-hidden="true"></i>
        </button>