<!-- --------- botonera carrusel < > ----------- -->
<button class="carousel-control-prev text-dark"
    type="button"
    data-bs-target="#carouselExampleControls<%=k%>"
    data-bs-slide="prev"
    name="prev">
    <span class="position-absolute top-0 start-0"><i
            class="fa-solid fa-caret-left"></i>
    </span>
</button>

<button class="carousel-control-next text-dark"
    type="button"
    data-bs-target="#carouselExampleControls<%=k%>"
    data-bs-slide="next"
    name="next">
    <span class="position-absolute top-0 start-100"><i
            class="fa-solid fa-caret-right"></i>
    </span>
</button>