<div class="container mx-auto mt-3 mb-5 text-center shadow-lg bg-body rounded p-3" width="96vw">
    <div class="row justify-content-evenly">
        <div class="col mx-auto py-2">
            <a href="/api/clientes" style="text-decoration: none;">
                <div class="shadow-lg card h-100 py-2 mx-auto" style="width: 13rem; background-color: #272787;">
                    <div class="card-body">
                        <h6 class="card-title text-light"><strong>Clientes</strong></h6>
                        <p class="card-text text-light">Agrega y actualiza clientes</p>
                        <div class="rounded-circle bg-light mx-auto" style="height: 5rem; width: 5rem;">
                            <i class="fa-solid fa-handshake fa-2x mt-4"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mx-auto py-2">
            <a href="/api/proyectos/" style="text-decoration: none;">
                <div class="shadow-lg card text-white h-100 py-2 mx-auto" style="width: 13rem; background-color: #1d1d1d;">
                    <div class="card-body">
                        <h6 class="card-title"><strong>Proyectos</strong></h6>
                        <p class="card-text">Administra y actualiza proyectos</p>
                        <div class="rounded-circle bg-white mx-auto" style="height: 5rem; width: 5rem;">
                            <i class="fa-solid fa-diagram-project fa-2x mt-4 text-dark"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col mx-auto py-2">
            <a href="/api/webchat/" style="text-decoration: none;">
                <div class="shadow-lg card text-white h-100 py-2 mx-auto" style="width: 13rem; background-color:#520035;">
                    <div class="card-body">
                        <h6 class="card-title"><strong>WebChat</strong></h6>
                        <p class="card-text">Administra mensajes de los usuarios y admins</p>
                        <div class="rounded-circle bg-white mx-auto" style="height: 5rem; width: 5rem;">
                            <i class="fa-solid fa-comments fa-2x mt-4 text-dark"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>