<header>
  <nav class="navbar sticky-top navbar-dark text-white" style="background-color: rgb(0, 10, 90);">
    <div class="container-fluid px-2 my-1">
      <img src='../../../src/images/logo01-bco.png' width="168" height="30" class="d-inline-block align-text-top ms-3">
      <div class="me-auto d-block" id="navbarTogglerDemo02">
      </div>
    </div>
  </nav>
</header>