<div class="container-fluid mt-4">
    <section class="mx-auto" style="width: 92%;">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto">
                        <!-- .card -->
                        <div class="card rounded-3 card-figure mb-1">
                            <!-- .card-figure -->
                            <figure class="figure">
                                <!-- .figure-img -->
                                <div class="figure-img text-center mx-auto">
                                    <img class="img-fluid" src="../../src/images/home.png" alt="Volver al Home" style="max-width: 64px; max-height: 64px;">
                                    <a href="/api/auth/index" class="img-link">
                                        <div class="tile tile-circle ">
                                            <span><i class="fas fa-circle text-primary fa-2x"></i></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- /.figure-img -->
                                <!-- .figure-caption -->
                                <figcaption class="figure-caption">
                                    <h6 class="figure-title"><a href="/api/auth/index" style="text-decoration: none;">Home</a></h6>
                                    <p class="text-muted mb-0"> Volver al Home </p>
                                </figcaption>
                                <!-- /.figure-caption -->
                            </figure>
                            <!-- /.card-figure -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto">
                        <!-- .card -->
                        <div class="card rounded-3 card-figure mb-1">
                            <!-- .card-figure -->
                            <figure class="figure">
                                <!-- .figure-img -->
                                <div class="figure-img text-center mx-auto" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                                    <img class="img-fluid" src="../../src/images/plus-icon-blue.jpg" style="max-width: 64px; max-height: 64px;">
                                    <a href="#" class="img-link">
                                        <div class="tile tile-circle ">
                                            <span><i class="fas fa-circle text-primary fa-2x"></i></span>
                                        </div>
                                    </a>
                                </div>
                                <!-- /.figure-img -->
                                <!-- .figure-caption -->
                                <figcaption class="figure-caption" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                                    <h6 class="figure-title"><a href="#" style="text-decoration: none;">Nuevo Proyecto</a></h6>
                                    <p class="text-muted mb-0"> Crear Nuevo Proyecto </p>
                                </figcaption>
                                <!-- /.figure-caption -->
                            </figure>
                            <!-- /.card-figure -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
</section>
</div>