<div class="row row-cols-1 row-cols-md-3 g-4">
    
        <div class="card mx-auto shadow p-3 mb-4 bg-body rounded w-auto table-responsive">
            <table class="table-responsive table-hover align-middle" style="font-size: 10pt">
                <caption id="capProdList"></caption>
                <thead>
                    <tr>
                        <th style="width:10vw" scope="col-1" class="text-center"> Id </th>
                        <th style="width:20vw" scope="col-2" class="text-center"> Title </th>
                        <th style="width:15vw" scope="col-2" class="text-center"> Description </th>
                        <th style="width:9vw" scope="col-1" class="text-center"> Price ($) </th>
                        <th style="width:11vw" scope="col-1" class="text-center"> Image </th>
                        <th style="width:9vw" scope="col-1" class="text-center"> Code </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Stock </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Category </th>
                        <th style="width:8vw" scope="col-2" class="text-center"> Action </th>
                    </tr>
                </thead>
                        <tbody id="mostrarProductos">
                        </tbody>
            </table>
        </div>
    
</div>