    <!-- contenedor botonera inferior de pagina 'volver atras' 'volver al home' -->
    <div class="d-flex justify-content-center mt-2 mb-1 border-top">
        <a class="btn btn-primary me-3 mt-3 mb-1" href="/api/proyectos"><i class="fa-solid fa-reply"></i> Volver Atrás </a>
        <a class="btn btn-secondary ms-3 mt-3 mb-1" href="/api/auth/index"><i class="fa-solid fa-home"></i> Volver al Home </a>
    </div>