<div class="row row-cols-1 row-cols-md-3 g-4"> 
        <div class="card mx-auto shadow p-1 mb-4 bg-body rounded w-auto table-responsive">
            <table id="miTabla" class="table-responsive table-bordered border-dark align-middle border-bottom" style="font-size: 10pt; --bs-border-opacity: .05;">
                <caption id="capProjectsList"></caption>
                <thead class="border-bottom">
                    <tr>
                        <th style="width:4vw" scope="col-1" class="text-center"> Codigo </th>
                        <th style="width:10vw" scope="col-1" class="text-center" data-column="nombre" data-order="asc"> Nombre <button id="nombre" onclick="sortTable('nombre')" name="orden" class="btn btn-light ms-1" value="nombre"> <i class="fa-solid fa-sort-alpha-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Imagen </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Cliente </th>
                        <th style="width:6vw" scope="col-1" class="text-center" data-column="prio" data-order="asc"> Prio <button id="prio" onclick="sortTable('prio')" name="orden" id="prio" class="btn btn-light ms-1" value="prio"> <i class="fa-solid fa-sort-amount-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:4vw" scope="col-1" class="text-center" data-column="nivel" data-order="asc"> Nivel <button id="nivel" onclick="sortTable('nivel')" name="orden" id="nivel" class="btn btn-light ms-1" value="nivel"> <i class="fa-solid fa-sort-alpha-asc" aria-hidden="true"></i> </button></th>
                        <th style="width:11vw" scope="col-1" class="text-center"> Descripción </th>
                        <th style="width:5vw" scope="col-1" class="text-center" data-column="oci" data-order="asc"> OCI <button id="oci" onclick="sortTable('oci')" name="orden" class="btn btn-light ms-1" value="oci"> <i class="fa-solid fa-sort-amount-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OT </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OP </th>
                        <th style="width:16vw" scope="col-1" class="text-center"> Descripción </th>
                        <th style="width:10vw" scope="col-1" class="text-center" data-column="fecha" data-order="asc"> Fecha <button id="fecha" onclick="sortTable('fecha')" name="orden" id="fecha" class="btn btn-light ms-1" value="fecha"> <i class="fa-solid fa-sort-amount-asc" aria-hidden="true"></i> </button> </th>
                        <th style="width:8vw" scope="col-1" class="text-center"> Acciones </th>
                    </tr>
                </thead>
                        <tbody id="mostrarProyectos">
                        </tbody>
            </table>
        </div>
</div>