<div class="row row-cols-1 row-cols-md-3 g-4">
    
        <div class="card mx-auto shadow p-3 mb-4 bg-body rounded w-auto table-responsive">
            <table class="table-responsive table-hover align-middle" style="font-size: 10pt">
                <caption id="capClientList"></caption>
                <thead>
                    <tr>
                        <th style="width:8vw" scope="col-1" class="text-center"> Id </th>
                        <th style="width:10vw" scope="col-2" class="text-center"> Nombre </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Logo </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Codigo </th>
                        <th style="width:6vw" scope="col-1" class="text-center"> Status </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Proyectos </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Registrado por </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Fecha Creado </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Modificado por</th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Fecha Modif.</th>
                        <th style="width:10vw" scope="col-2" class="text-center"> Accion </th>
                    </tr>
                </thead>
                        <tbody id="mostrarClientes">
                        </tbody>
            </table>
        </div>
    
</div>