<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card mx-auto shadow p-3 mb-4 bg-body rounded w-auto table-responsive">
        <table class="table-responsive table-bordered border-primary align-middle" style="font-size: 10pt">
            <caption id="capOrdersList"></caption>
            <thead>
                <tr>
                    <th style="width:14vw" scope="col-2" class="text-center my-3 py-3"> Order Id# </th>
                    <th style="width:14vw" scope="col-4" class="text-center my-3"> Items (Id#) </th>
                    <th style="width:5vw" scope="col-2" class="text-center my-3"> Items Qty. </th>
                    <th style="width:8vw" scope="col-1" class="text-center my-3"> Total Invoice ($) </th>
                    <th style="width:15vw" scope="col-2" class="text-center my-3"> Invoice # </th>
                    <th style="width:15vw" scope="col-2" class="text-center my-3"> Client </th>
                    <th style="width:10vw" scope="col-2" class="text-center my-3"> Date </th>
                    <th style="width:7vw" scope="col-2" class="text-center my-3"> Status </th>
                    <th style="width:12vw" scope="col-1" class="text-center my-3"> Action </th>
                </tr>
            </thead>
                    <tbody class="table-group-divider" id="mostrarOrdenes">
                    </tbody>
        </table>
    </div>

</div>