<div class="row row-cols-1 row-cols-md-3 g-4">
    
        <div class="card mx-auto shadow p-3 mb-4 bg-body rounded w-auto table-responsive">
            <table class="table-responsive table-hover align-middle" style="font-size: 10pt">
                <caption id="capUserList"></caption>
                <thead>
                    <tr>
                        <th style="width:10vw" scope="col-1" class="text-left"> Id </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Nombre </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Apellido </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Em@il </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Username </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Avatar </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Status </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Rol </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Permisos </th>
                        <th style="width:10vw" scope="col-2" class="text-center"> Acciones </th>
                    </tr>
                </thead>
                        <tbody id="mostrarUsuarios">
                        </tbody>
            </table>
        </div>
    
</div>