<div class="row row-cols-1 row-cols-md-3 g-4">
    
        <div class="card mx-auto shadow p-3 mb-4 bg-body rounded w-auto table-responsive">
            <table class="table-responsive table-hover align-middle border-bottom" style="font-size: 10pt">
                <caption id="capProjectsList"></caption>
                <thead class="border-bottom">
                    <tr>
                        <th style="width:5vw" scope="col-1" class="text-center"> Codigo </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Nombre <a class="btn btn-light" href="proyectos/" role="button"> <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> </a> </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OCI </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Imagen </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Cliente <a class="btn btn-light" href="proyectos/" role="button"> <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> </a> </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> Prio <a class="btn btn-light" href="proyectos/" role="button"> <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> </a> </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> Nivel </th>
                        <th style="width:15vw" scope="col-1" class="text-center"> Descripción </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OT </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> OP </th>
                        <th style="width:10vw" scope="col-1" class="text-center"> Descripción </th>
                        <th style="width:5vw" scope="col-1" class="text-center"> Fecha <a class="btn btn-light" href="proyectos/" role="button"> <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> </a></th>
                        <th style="width:10vw" scope="col-2" class="text-center"> Action </th>
                    </tr>
                </thead>
                
                        <tbody id="mostrarProyectos">
                        </tbody>
            </table>
        </div>
    
</div>