<div class="row row-cols-4 row-cols-md-3 g-5">
    <div class="card-group col-12 w-100 mx-auto my-4" id="mostrarClientes">
    </div>
</div>
<br>
<div class="d-block mx-auto my-2 text-center">
    <a class="btn btn-primary mx-auto mb-5 rounded-pill" href="#"> Ir arriba <i class="fa-solid fa-arrow-up"></i></a>
</div>