<div class="card card-body">
    <div class="form-group col-10 mx-auto my-2 w-75 border p-3 bg-dark bg-gradient text-white bg-opacity-75">
        <form action="/api/clientes" method="post">
            <fieldset>
                <h4 class="d-block mx-auto my-2 text-center">Nuevo Cliente</h4>
                <div class="row my-3">
                    <div class="col-4">
                        <label for="name">Nombre Cliente</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Nombre Cliente"
                            required>
                    </div>
                    <br>
                    <div class="col-4">
                        <label for="status">Status</label>
                        <select id="status" name="status" class="form-select" required>
                            <option disabled value="">Seleccione un status</option>
                            <option value="true" selected>Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div>
                    <br>
                </div>

                <div class="row my-3">
                    <div class="col-4">
                        <label for="code">Codigo Cliente</label>
                        <input type="text" name="code" id="code" class="form-control" placeholder="Codigo Cliente"
                            required>
                    </div>
                    <br>
                    <div class="row my-3">
                        <div class="col-10">
                            <label for="logo">URL Logo Cliente</label>
                            <input type="text" name="logo" id="logo" class="form-control" placeholder="Logo url"
                                required>
                        </div>
                    </div>
                    <input type="hidden" name="idHidden" id="idHidden" class="form-control" value="<%= userInfo.id %>">
                    <!-- <input type="hidden" name="usernameHidden" id="usernameHidden" class="form-control"
                        value="<%= userInfo.username %>">
                    <input type="hidden" name="unameHidden" id="unameHidden" class="form-control"
                        value="<%= userInfo.name %>">
                    <input type="hidden" name="lastNameHidden" id="lastNameHidden" class="form-control"
                        value="<%= userInfo.lastName %>"> -->
                    <br>
                    <div class="d-flex justify-content-center my-2">
                        <button type="submit" class="btn btn-primary mx-auto w-25">Guardar Cliente <i
                                class="fa-solid fa-save"></i></button>
                        <button type="reset" class="btn btn-danger mx-auto w-25">Reset <i
                                class="fa-solid fa-rotate-left"></i></button>
                    </div>
            </fieldset>
        </form>
    </div>
</div>