<div class="card mx-auto" style="width: 93vw;">
    <div class="card card-body d-flex justify-content-center">
        <div class="form-group col-12 mx-auto my-2 w-100 border px-5 py-1 bg-dark bg-gradient text-white bg-opacity-75">
            <form id="formNewProject" action="/api/proyectos" method="post">
                <fieldset>
                    <h5 class="d-block mx-auto my-2 text-center">Nuevo Proyecto</h5>
                    <div class="row my-3">
                        <div class="col-3">
                            <label for="projectName">Nombre Proyecto</label>
                            <input type="text" name="projectName" id="projectName" class="form-control"
                                placeholder="Nombre Proyecto" required>
                        </div>
                        <br>
                        <div class="col-2">
                            <label for="statusProject">Status Proyecto</label><br>
                            <div class="">
                                <p class="d-inline-block me-1">Inactivo</p>
                                <div class="form-check form-switch d-inline-block mt-2">
                                    <input class="form-check-input" type="checkbox" id="statusProject" aria-checked="true" name="statusProject" style="cursor: pointer;" checked>
                                    <label class="form-check-label" for="statusProject">Activo</label>
                                </div>    
                            </div>
                        </div>
                        <br>
                        <div class="col-3">
                            <label for="levelProject">Nivel</label>
                            <select id="levelProject" name="levelProject" class="form-select" required>
                                <option selected disabled value="">Seleccione un Nivel</option>
                                <option value="ganado">Ganado</option>
                                <option value="paraCotizar">Para Cotizar</option>
                                <option value="aRiesgo">A Riesgo</option>
                            </select>
                        </div>
                        <br>
                        <div class="col-3">
                            <label for="codeProject">Codigo Proyecto</label>
                            <input type="text" name="codeProject" id="codeProject" class="form-control"
                                placeholder="Codigo Proyecto" required>
                        </div>
                        <br>
                    </div>

                    <div class="row my-3">
                        <div class="col-7">
                            <label for="projectDescription">Descripción Proyecto</label>
                            <input type="text" name="projectDescription" id="projectDescription" class="form-control"
                                placeholder="Descripción Proyecto" required>
                        </div>
                        <br>
                        <div class="col-3">
                            <label for="prioProject">Prioridad Proyecto</label>
                            <input type="number" name="prioProject" id="prioProject" class="form-control"
                                placeholder="Prioridad Proyecto">
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-10">
                            <label for="imageProject">URL Imagen Proyecto</label>
                            <input type="text" name="imageProject" id="imageProject" class="form-control"
                                placeholder="Imagen proyecto url" required>
                        </div>
                    </div>
                    <hr>

                    <div class="row my-3">
                        <div class="col-10">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button" id="buttonOne" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOneForm" aria-expanded="false" aria-controls="panelsStayOpen-collapseOneForm">
                                            <strong>Información OCI</strong>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOneForm" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body" id="div_body">
                                            <div class="row my-3" id="ociItemRow">
                                                <div class="col-3">
                                                    <label for="ociNumber" id="labelOciNumber">Número de OCI</label>
                                                    <input type="number" name="ociNumber" id="ociNumber" class="form-control" min="0" max="9999"
                                                    placeholder="Número OCI">
                                                </div>
                                                <div class="col-3">
                                                    <label for="ociDescription" id="labelOciDescription">Descripción OCI</label>
                                                    <input type="text" name="ociDescription" id="ociDescription" class="form-control"
                                                    placeholder="Descripcion OCI">
                                                </div>
                                                <div class="col-6">
                                                    <label for="ociStatus" id="labelOciStatus">Status OCI</label><br>
                                                    <div class="d-inline-block me- mt-2">Inactiva</div>
                                                    <div class="form-check form-switch d-inline-block">
                                                        <input class="form-check-input" type="checkbox" id="ociStatus" name="ociStatus" aria-checked="true" style="cursor: pointer;" checked>
                                                        <label class="form-check-label" for="ociStatus">Activa</label>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                                <div class="d-flex justify-content-center">
                                    <button type="button" id="btnAddNewRow" class="btn btn-primary rounded-circle me-2 my-2" disabled><i class="fa fa-plus-circle"></i></button>
                                </div>
                        </div>
                    </div>
                    <hr>
                    <input type="hidden" name="idHidden" id="idHidden" class="form-control" value="<%= userInfo.id %>">
                    <input type="hidden" name="clientIdHidden" id="clientIdHidden" class="form-control" value="<%= cliente._id %>">
                    <input type="hidden" name="ociQuantity" id="ociQuantity" class="form-control" value="1">
                    <br>
                    <div class="d-flex justify-content-center my-2">
                        <button id="btnNewProject" type="submit" class="btn btn-primary mx-auto">Guardar <i
                                class="fa-solid fa-save"></i></button>
                        <button type="reset" class="btn btn-danger mx-auto">Reset <i
                                class="fa-solid fa-rotate-left"></i></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>