<div class="form-group col-6 mx-auto my-2 w-75 border p-3 bg-secondary bg-gradient text-white bg-opacity-75">
    <h3 class="mx-auto my-2 text-center">Agregar Nuevo Usuario</h3>
    <form action="/api/usuarios/newUser" method="post">
        <fieldset>
            <div class="row my-2 mx-auto">
                <div class="col-3">
                    <label for="username">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required>
                </div>
                <br>
                <div class="col-3">
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Apellido"
                        required>
                </div>
                <br>
                <div class="col-3">
                    <label for="email">Em@il</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Em@il" required>
                </div>
                <br>
                <div class="col-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
                </div>
            </div>

            <div class="row my-2 mx-auto">
                <div class="col-12 my-2">
                    <label for="avatar">Avatar</label>
                    <input type="text" name="avatar" id="avatar" class="form-control" placeholder="url avatar">
                </div>
                <br>
                <div class="col-6 my-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    required>
                </div>
                <div class="col-6 my-2">
                    <label for="password">Confirmar Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmar Password"
                    required>
                </div>
            </div>
            <!-- status, rol y permisos -->
            <div class="row mx-auto align-middle">
                <div class="col-2 my-3">
                    <label class="form-check-label" for="permiso">Seleccione un Permiso</label>
                    <select class="form-select form-select" aria-label=".form-select example" id="permiso" required>
                        <option selected disabled value="diseno">Dise침o</option>
                        <option value="simulacion">Simulaci칩n</option>
                        <option value="disenoSimulacion">Dise침o/Simulaci칩n</option>
                    </select>
                </div>

                <div class="col-2 ms-4 mt-5 my-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="status" checked disabled>
                        <label class="form-check-label" for="status">Activo</label>
                    </div>
                </div>
            
                <div class="col-2 ms-4 mt-5 my-auto">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="admin" checked disabled>
                        <label class="form-check-label" for="status">Usuario</label>
                    </div>
                </div>
                <!-- <input type="text" value="<%= userInfo.id %>" id="userIdHidden" hidden> -->
                <input type="text" value="<%= userInfo.name %>" id="userNameHidden" hidden>
                <input type="text" value="<%= userInfo.lastName %>" id="userLastNameHidden" hidden>
                    
            </div>    
            <br>  
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mx-auto" id="btnNewUser">Nuevo Usuario <i
                        class="fa fa-user-plus"></i></button>
                <button type="reset" class="btn btn-danger mx-auto w-25">Reset <i
                        class="fa fa-rotate-left"></i></button>
            </div>
        </fieldset>
    </form>
</div>