<div class="form-group col-10 mx-auto my-2 w-75 border p-3 bg-dark bg-gradient text-white bg-opacity-75">
    <form action="/api/productos" method="post">
        <fieldset>
            <h4 class="d-block mx-auto my-2 text-center">Nuevo Proyecto</h4>
            <div class="row my-3">
                <div class="col-4">
                    <label for="name">Title</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Title Product" required>
                </div>
                <br>
                <div class="col-4">
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" class="form-control"
                        placeholder="Description Product">
                </div>
                <br>
                <div class="col-4">
                    <label for="category">Category</label>
                    <select id="category" name="category" class="form-select" required="required">
                        <option selected disabled value="">Seleccione una categoria</option>
                        <option value="Perfumes">Perfumes</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Calzado">Calzado</option>
                    </select>
                </div>
                <br>
                <div class="col-3 my-3">
                    <label for="price">Price ($)</label>
                    <input type="text" name="price" id="price" class="form-control" placeholder="Ex. 150" required>
                </div>
                <br>
            </div>

            <div class="row my-3">
                <div class="col-4">
                    <label for="code">Code</label>
                    <input type="text" name="code" id="code" class="form-control" placeholder="Code" required>
                </div>
            <br>
                <div class="col-3">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" class="form-control" placeholder="Stock">
                </div>


            <div class="row my-3">
                <div class="col-10">
                    <label for="picture">Picture URL</label>
                    <input type="text" name="picture" id="picture" class="form-control" placeholder="Picture url"
                        required>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center my-2">
                <button type="submit" class="btn btn-primary mx-auto w-25" >Save Product <i class="fa fa-save"></i></button>
                <button type="reset" class="btn btn-danger mx-auto w-25">Reset <i class="fa fa-rotate-left"></i></button>
            </div>
        </fieldset>
    </form>
</div>