<header>
    <nav class="navbar fixed-top navbar-dark bg-dark text-white">
        <div class="container-fluid px-2 my-1">
            <a class="navbar-brand mx-2" href="/api/auth/index">
                <img src='../../../src/images/logo01-bco.png' width="168" height="30"
                    class="d-inline-block align-text-top"></a>
            <div class="me-auto d-block" id="navbarTogglerDemo02">
                <ul class="navbar-nav my-auto list-group list-group-horizontal">
                    <li class="nav-item mx-4 active">
                        <a class="nav-link" aria-current="page" href="/api/auth/index"><i class="fa fa-home"
                                aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/api/auth/historial"><i class="fa fa-list-ul" aria-hidden="true"></i>
                            Clientes</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Proyectos</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> OCI's</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/api/webchat"><i class="fa fa-comments" aria-hidden="true"></i>
                            WebChat</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex text-center">
                <div id="expires" style="display: none;">
                    <%= expires %>
                </div>
                <div class="container text-center m-auto">
                    <div class="my-auto mx-4 small" id="countdown"></div>
                    <div class="my-auto me-4 small" id="clock"></div>
                </div>
                <!-- <a class="btn btn-warning me-2 my-auto disabled" style="width: 150px;" type="submit" href="#"><i
                        class="fa fa-shopping-cart"></i> Cart</a> -->
                <a class="btn btn-light me-5 my-auto" style="width: 155px;" type="submit" href="/api/auth/logout"><i
                        class="fa fa-sign-out"></i> LogOut</a>
            </div>
        </div>
    </nav>
</header>