<div class="offcanvas offcanvas-start" style="width: 16%;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <img src='../../../src/images/logo01-negro.png' width="168" height="30"
                    class="d-inline-block align-text-top">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close">
        </button>
    </div>
    <hr style="margin: 0;">
    <div class="offcanvas-body p-3">
        <ul class="navbar-nav my-auto list-group list-group-vertical">
            <li class="nav-item my-1 active">
                <a class="nav-link" aria-current="page" href="/api/auth/index">
                    <i class="fa-solid fa-home" aria-hidden="true"></i>
                    Home
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" href="/api/clientes">
                    <i class="fa-solid fa-handshake" aria-hidden="true"></i>
                    Clientes
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" href="/api/usuarios">
                    <i class="fa-solid fa-users" aria-hidden="true"></i>
                    Usuarios
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" href="/api/proyectos">
                    <i class="icon-rocket" aria-hidden="true"></i>
                    Proyectos
                </a>
            </li>
            <li class="nav-item my-1">
                <a class="nav-link" href="/api/webchat">
                    <i class="fa-solid fa-comments" aria-hidden="true"></i>
                    WebChat
                </a>
            </li>
        </ul>
    </div>
        <div class="offcanvas-footer mb-3">
            <button id="logoutSidebar" class="btn btn-dark mx-2 my-auto" style="width: 95%;" type="button">
                <i class="fa-solid fa-sign-out"></i>
                LogOut
            </button>
            <p class="my-1 me-2 text-end">Version V0.2.125</p>
        </div>

</div>